.registro-formulario {
  flex: 10;
  height: 100%;
  background: var(--background-light);
  border-radius: 12px;
  margin-left: 40px;
  padding: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.507);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Título */
.registro-formulario h1 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  text-align: center;
  color: var(--primary-blue);
}

/* Formulario Grid */
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 20px 20px;
}

/* Inputs ocupan espacio correctamente */
label {
  font-weight: 600;
  font-size: 0.95rem;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--input-border-light);
  border-radius: 6px;
  background-color: var(--background-light);
  color: var(--text-dark);
  font-size: 0.95rem;
  height: 38px;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  input[type="text"],
  input[type="date"],
  select {
    background-color: #2c2c2c;
    color: var(--text-light);
    border: 1px solid var(--input-border-dark);
  }
}

/* Botón */
button {
  grid-column: span 2; /* Ocupa las dos columnas */
  padding: 10px;
  background-color: #1a1a1a;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.submit-status {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
  grid-column: span 2;
}

.submit-status.success {
  background-color: #dff0d8;
  color: #3c763d;
}

.submit-status.error {
  background-color: #f2dede;
  color: #a94442;
}

.error-border {
  border: 2px solid #ff4444 !important;
}

.error-message {
  color: #ff4444;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
